@charset "utf-8"

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Open+Sans:400,400i&display=swap&subset=latin-ext')

$family-sans-serif: "Open Sans", sans-serif
$family-primary: $family-sans-serif
$family-secondary: $family-sans-serif

$heading-family: "Lato", sans-serif

// $body-background-color: $scheme-main !default
// $body-size: 16px !default
// $body-min-width: 300px !default
// $body-rendering: optimizeLegibility !default
// $body-family: $family-primary !default
// $body-overflow-x: hidden !default
// $body-overflow-y: scroll !default
//
// $body-color: $text !default
// $body-font-size: 1em !default
// $body-weight: $weight-normal !default
// $body-line-height: 1.5 !default

@import "colors"
@import "mixins"
@import "loader"

@import "~bulma/bulma"

h1, h2, h3, h4
  font-family: $heading-family

h1, h2
  font-weight: 400
  font-style: italic

h1
  color: $abm-gold
  font-size: 34.5px

h1.title
  font-weight: 400
  font-size: 34.5px
  color: $abm-gold

h1.page-title
  font-size: 3rem
  margin-top: 20px
  margin-bottom: 10px
  color: $abm-gold

.page-wrap
  background-color: white

.container
  +desktop
    padding-left: (4 * $gap)
    padding-right: (4 * $gap)

@import "custom"

#top-nav,
#page-footer
  background-color: $body-background-color
